//Variables
$mainColor: #19c8fa;
$transparentColor:rgba(15, 116, 143, 70%);
$sectionPadding:100px;
//End Variabels
/*Start Global Rules*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
html {
  scroll-behavior: smooth;

  body {
    font-family: " Open Sans", sans-serif;
  }
}
ul {
  list-style:none
}
.container{
  padding-right:15px;
  padding-left:15px;
  margin-right: auto;
  margin-left:auto;
}
/*Media Quires*/
/*small screens*/
@media (min-width:768px){
  .container {
    width:750px
  }
}
/*medium screens*/
@media (min-width:992px){
  .container {
    width:970px
  }
}
//large screens
@media (min-width:1200px){
  .container {
    width:1170px
  }
}
/*End Global Rules*/
//Start Components
  i{
  cursor: pointer;
  }
section {
  .main-heading {
    text-align: center;
    h2 {
      font-weight:normal;
      font-size: 40px;
      position: relative;
      margin-bottom: 70px;
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        left:50%;
        transform: translatex(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border:2px solid #333;
        bottom: -38px;
        background-color: #FFF;
      }
      &::before {
        content: '';
        position: absolute;
        left:50%;
        transform: translatex(-50%);
        height: 2px;
        background-color: #333;
        bottom: -30px;
        width: 120px;
      }
    }
    p {
      width: 550px;
      margin: 0 auto 100px;
      max-width: 100%;
      color: #777;
      line-height:2;
    }
  }
}

//End Components

//Start Header
header{
  position: absolute;
  left: 0;
  width:100%;
  z-index:2;
  .container{
    min-height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      height: 1px;
      background-color: #a2a2a2;
      width: calc(100% - 30px);
      bottom:0;
      left: 15px;
    }
    .logo{
      img{
        height: 40px;
      }
    }
    nav{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content:flex-end;
      .toggle-menu{
        color:#FFF;
        font-size: 22px;
        /*small screens*/
        @media (min-width:768px)
        {
            display: none;
        }
        &:hover + ul{
          display: flex;
          flex-direction: column;
          position: absolute;
          top:100%;
          left:0;
          width: 100%;
          background-color: #000;
          opacity: .5;
        }
        &:hover + ul li a{
          padding: 15px;
        }
      }
    ul{
      display: flex;
      //&::before{
      //  content: '';
      //  border: 20px solid;
      //  border-color: transparent transparent rgba(0 , 0 , 0 , .5) transparent;
      //  position: absolute;
      //  left:85%;
      //  top:-35px;
      //}
      /*small screens*/
      @media (max-width:767px)
      {
          display: none;
      }
      a{
        color: #fff;
        display: block;
        text-decoration: none;
        font-size:14px;
        transition: 0.4s;
        padding:40px 10px;
        position: relative;
        z-index:2;
        &.active , &:hover{
          color:$mainColor;
          border-bottom:1px solid $mainColor;
        }
      }
    }
      .form{
        border-left:1px solid #FFF;
        width:40px;
        height: 30px;
        position: relative;
        margin-left: 30px;
        i{
          color:#FFF;
          position: absolute;
          font-size: 20px;
          top:50%;
          left: 50%;
          transform: translate(-50% , -50%);
        }
      }
    }
  }
}
//End Header
//Start Landing
.landing{
  min-height: 100vh;
  background-color: #000;
  background-image: url("../Images/landing.jpg");
  background-size: cover;
  position: relative;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 60%);
  }
  .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
    padding:50px ;
    background-color: $transparentColor;
    color: #FFF;
    display: flex;
    justify-content:flex-end;
    @media (max-width:767px){
      width: 100%;
    }
    .content{
      max-width: 500px;
      @media (max-width: 767px){
        max-width: 100%;
      }
      h2{
        font-size: 32px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      p{
        font-size: 14px;
        line-height: 2;
      }
    }
  }
  .change-background{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color:#DDD;
    @media (max-width: 767px){
      display: none;
    }
  }
  .fa-angle-left{
  left:30px
  }
  .fa-angle-right{
    right:30px
  }
  .bullets{
    position: absolute;
    left:50%;
    transform: translatex(-50%);
    bottom: 30px;
    display: flex;
    li{
      width: 20px;
      height:20px;
      border:1px solid #FFF ;
      border-radius: 50%;
      margin-right: 10px;
    }
    .active{
      background-color: $mainColor;
      border-color: $mainColor;
    }
  }
}
//End Landing
//Start Services
.services{
  padding:$sectionPadding 0;
  .services-container{
    @media (min-width: 768px){
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax( 450px , 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;}
    .srv-box{
      display: flex;
      @media (max-width:767px) {
        flex-direction:column;
        text-align: center;
        margin-bottom: 40px;
      }
      i{
        margin-right: 50px;
        @media (max-width: 767px){
          margin: 0 0 30px
        }
      }
      h3{
        margin-bottom: 30px;
        color: $mainColor;
      }
      p{
        line-height:2;
        color:#777;
      }
    }
  }
}
//End Services
//Start Design
.design{
  padding: $sectionPadding 0;
  height:600px;
  position: relative;
  background-image: url("../Images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0 , 0 , 0 , 60%)
  }
  overflow: hidden;
  .image , .text{
    position: relative;
    z-index:2;
    flex:1;
  }
  .image{
    text-align: center;
    @media (max-width: 767px){
      display: none;
    }
    img{
      position: relative;
      bottom:-150px
    }
  }
  .text{
    color:white;
    padding:50px;
    background-color: $transparentColor;
    h2{
      text-transform: uppercase;
      font-weight:Normal;
      margin-bottom:40px
    }
    ul{
      li{
        padding:15px 0;
        &::before{
          font-family: "Font Awesome 5 Free", serif;
          content:'\f108'; //كود ادخال ايكون من السودو اليمنت
          font-weight:900;
          margin-right:20px;
          position:relative;
          top:1px;
        }
      }
    }
  }
}
//End Design
//Start Portfolio
.portfolio{
  padding:$sectionPadding 0 ;
  .shuffle{
    display: flex;
    justify-content: center;
    li{
      padding: 10px;
    }
    .active{
      color:#FFF;
      background-color: $mainColor;
    }
  }
  .images-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    .box{
      position: relative;
      overflow: hidden;
      &:hover .caption{
        bottom: 0;
      }
      &:hover img{
        transform: rotate(3deg) scale(1.1);
      }
      @media (min-width: 768px){
        flex-basis: 50%;
      }
      @media (min-width:1199px) {
        flex-basis: 25%;
      }
      img{
        max-width: 100%;
        transition: 0.3s;
      }
      .caption{
        position: absolute;
        left: 0;
        padding: 20px;
        background-color: #FFF;
        width: 100%;
        transition: 0.3s;
        bottom: -100%;
        h4{
          font-weight: normal;
          margin-bottom: 10px;
        }
        p{
          color:$mainColor;
        }
      }
    }
  }
  .more{
    background-color:$mainColor;
    color:#FFF;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    margin: 30px auto;
    width:fit-content;
  }
}
//End Portfolio
//Start Video
.video{
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    top: 0;
    left: 0;
  }
  video{
    max-width: 100%;
    aspect-ratio: 16/9;
  }
  .text{
    width:100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    padding:50px;
    background-color: $transparentColor;
    color: #FFF;
    text-align: center;
    h2{
      font-weight:normal;
      margin: 0 0 30px;
      text-transform: uppercase;
    }
    p{
      margin: 0 0 30px;
    }
    button{
      background-color: #000;
      color: #FFF;
      padding:10px 20px;
      border: none;
      text-transform: uppercase;
    }
  }
}
//End Video
//Start About
.about{
  padding-top: $sectionPadding;
  overflow: hidden;
  text-align: center;
  img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
    @media (max-width:767px) {
      bottom: -60px;
      margin-top: -60px;
    }
  }
}
//End About
//Start Stats
.stats{
  padding: $sectionPadding 0;
  text-align: center;
  background-image: url("../Images/stats.png");
  background-size: cover;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 ,0 ,70%);
  }
  .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .box{
      color:#FFF;
      padding:50px;
      background-color: $transparentColor;
      @media (max-width:767px){
        flex-basis: 100%;
      }
      @media (min-width:768px){
        flex-basis: 50%;
      }
      @media (min-width:992px){
        flex-basis: 25%;
      }
      i{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        background-color: #000;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
      }
      .number{
        font-size: 50px;
        font-weight:bold;
        margin: 0 0 20px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
//End Stats
//Start Our Skills
.our-skills{
  padding: $sectionPadding 0;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >div{
      >h3{
        margin: 0 0 30px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
      }
      >p{
        color:#777;
        line-height: 2;
        text-align: center;
        margin-bottom: 60px;
      }
    @media (min-width:992px){
      flex-basis: 45%;
     }
    }
    .testimonials{
      .content{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 767px){
          text-align: center;
          flex-direction: column;
        }
        img{
          width: 100px;
          border-radius: 50%;
          margin-right: 50px;
          @media (max-width: 767px){
            margin: 0 auto 20px;
          }
        }
      }
      .text{
        line-height: 1.8;
        border-bottom: 1px solid #CCC;
        p{
          color:#777;
          text-align: right;
          font-size:14px;
          margin-bottom:10px;
        }
      }
      .bullets{
        display: flex;
        justify-content: center;
        margin:50px 0;
        li{
          width: 14px;
          height: 14px;
          border-radius: 50%;
          border: 1px solid #aaa;
          margin-right: 10px;
        }
        li.active{
          background-color: $mainColor;
          border: none;
        }
      }
    }
    .skills{
      .prog-holder{
        margin-bottom: 40px;
        h4{
        margin-bottom: 15px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .prog{
          background-color: #dedadc;
          height: 30px;
          span{
            display: block;
            background-color: $mainColor;
            height: 100%;
            position: relative;
            &::before{
              content: attr(data-progress);
              background-color:#000 ;
              color: #FFF;
              position: absolute;
              top: -40px;
              right: -18px;
              padding: 4px 0;
              width: 40px;
              text-align: center;
              border-radius: 4px;
            }
            &::after{
              content: '';
              position: absolute;
              border-style:solid ;
              border-width:8px ;
              border-color: #000 transparent transparent ;
              right: -8px;
              top: -15px;
            }
          }
        }
      }
    }
  }
}
//End Our Skills
//Start Quote
.quote{
  padding: $sectionPadding 0 ;
  background-image: url("../Images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: #FFF;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,75%);
  }
  .container{
    position: relative;
    q{
      font-size: 30px;
      margin-bottom: 20px;
      display: block;
    }
  }
}
//End Quote
//Start Pricing
.pricing{
    padding:$sectionPadding 0 ;
  .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 250px , 1fr));
    gap:30px;
    .plan{
      background-color: #fcfcfc;
      text-align: center;
     .head{
        padding: 40px 20px;
        border-bottom: 1px solid $mainColor;
        border-top: 1px solid $mainColor;
       h3{
          font-weight:normal;
         margin-bottom: 20px;
         text-transform: uppercase;
       }
       span{
         font-size: 60px;
         font-weight:bold;
         &::before{
            content: '$';
            position: relative;
            font-size: 25px;
           top: -40px;
           font-weight: normal;
           margin-right: 15px;
         }
         &::after{
           content: '/Mo';
           font-size: 25px;
           position: relative;
           right: -15px;
         }
       }
     }
      ul{
        border-bottom:1px solid $mainColor;
        li{
            padding: 20px;
          &:not(:last-child){
            position: relative;
            &::after{
              content: '';
              height: 1px;
              width: 120px;
              background-color: $mainColor;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      .foot{
        a{
          display: block;
          padding:20px;
          text-decoration: none;
          border: 1px solid $mainColor;
          width: fit-content;
          margin: 30px auto;
          color: initial;
        }
      }
    }
  }
  .contact-text{
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
  }
  .contact-link{
    text-decoration: none;
    font-size: 16px;
    color:#FFF;
    background-color: $mainColor;
    padding: 15px 30px;
    width: fit-content;
    margin: 20px auto;
    display: block;
  }
}
//End Pricing
//Start Subscribe
.subscribe{
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 50%);
  }
  padding: $sectionPadding 0;
  background-image:url("../Images/subscribe.jpg");
  background-size:cover;
  position: relative;
  color: #FFF;
  .container{
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width:991px){
      flex-direction: column;
    }
    form{
      display: flex;
      position: relative;
      width: 500px;
      max-width: 100%;
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 30px;
        }
      input:nth-of-type(1){
          border:1px solid #FFF;
          border-right:none;
          background: none;
          padding: 20px 20px 20px 60px;
          caret-color: $mainColor;
          width: calc(100% - 130px);
        color: #FFF;
          &:focus{
            outline: none;
          }
        }
      ::placeholder{
        color: #FFF;
      }
      input:nth-of-type(2){
          width: 130px;
        background-color: $mainColor;
        color:#FFF;
        padding:10px 20px ;
        border:1px solid #FFF;
        border-left:none;
        text-transform:uppercase;
        &:focus{
          outline: none;
        }
      }
    }
    p{
      line-height: 2;
      margin-left: 50px;
      @media (max-width: 991px){
        margin: 30px 0 0;
        text-align: center;
      }
    }
  }
}
//End Subscribe
//Start Contact US
.contact{
  padding: $sectionPadding 0 ;
  .container{
    .content{
      display: flex;
      justify-content: space-between;
      @media (max-width: 767px){
        flex-direction: column;
      }
      form{
        flex-basis: 70%;
        .main-input{
          padding: 20px;
          display:block;
          border:1px solid #CCC;
          margin-bottom: 30px;
          width:100%;
          &:focus{
            outline: none;
          }
        }
        textarea{
          height: 200px;
        }
        input[type="submit"]{
          padding: 20px;
          background-color: $mainColor;
          color:#FFF;
          border:none;
          display: flex;
          margin-left: auto;
          text-transform:uppercase;
          cursor: pointer;
          @media (max-width: 767px){
            margin: auto;
          }
        }
      }
      .info{
        flex-basis: 25%;
        @media (max-width: 767px){
          order:-1;
          text-align: center;
        }
        h4{
          text-transform: uppercase;
          margin-bottom: 30px;
          font-weight: 500;
          font-size: 18px;
        }
        span.Phone{
          display: block;
          color: #777;
          margin-bottom: 10px;
        }
        h4:nth-of-type(2){
          margin-top:90px ;
          @media (max-width: 767px){
            margin-top: 30px;
          }
        }
        address{
          color: #777;
          line-height: 2;
          @media (max-width: 767px){
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
//End Contact US
//Start Footer
.footer{
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 70%);
  }
  padding: calc( 100px / 2 )  0;
  background-image: url("../Images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color:#FFF;
  text-align: center;
  .container{
    position: relative;
    img{
      margin: 0 0 20px;
    }
    p:not(.copyright){
      text-transform: uppercase;
      padding:20px;
      border-bottom: 1px solid #FFF;
      font-size: 22px;
      width: fit-content;
      margin: 20px auto;
    }
    .social-icons{

      i{
        padding:10px 15px;
      }
    }
    .copyright{
        margin-top:60px;
      span{
        font-weight: bold;
        color: $mainColor;
      }
    }
  }
}
//End Footer